opentelemetry-test-utils==0.63b1
opentelemetry-instrumentation-flask==0.63b1
opentelemetry-instrumentation-requests==0.63b1
pytest
pytest-cov
pytest-mock
requests
flask~=3.1; python_version >= '3.10'
flask~=3.0; python_version < '3.10'
werkzeug