opentelemetry-test-utils~=0.35b0
opentelemetry-instrumentation-flask~=0.35b0
opentelemetry-instrumentation-httpx~=0.35b0
opentelemetry-instrumentation-requests~=0.35b0
pytest
pytest-cov
pytest-mock
httpx
requests
flask
werkzeug