opentelemetry-test-utils==0.57b0
opentelemetry-instrumentation-flask==0.57b0
opentelemetry-instrumentation-requests==0.57b0
pytest
pytest-cov
pytest-mock
requests
flask~=3.1; python_version >= '3.9'
flask~=3.0; python_version < '3.9'
werkzeug