include *.md
include *.txt
include solarwinds_apm/extension/VERSION
recursive-include solarwinds_apm *.cxx
recursive-include solarwinds_apm *.h
recursive-include solarwinds_apm *.hpp
recursive-include solarwinds_apm *.so
recursive-include solarwinds_apm *.so.*
exclude MANIFEST.in
exclude Makefile
prune test
