opentelemetry-exporter-otlp==1.32.1
opentelemetry-exporter-otlp-proto-http==1.32.1
opentelemetry-instrumentation-aws-lambda==0.53b0
opentelemetry-sdk-extension-aws==2.1.0
packaging
jaraco.text
platformdirs
setuptools
charset_normalizer==3.4.1
grpcio==1.70.0
wrapt==1.17.2
