opentelemetry-exporter-otlp==1.28.2
opentelemetry-exporter-otlp-proto-grpc==1.28.2
opentelemetry-exporter-otlp-proto-http==1.28.2
opentelemetry-instrumentation-aws-lambda==0.49b2
packaging
jaraco.text
platformdirs
setuptools
